@font-face{
    font-family: 'Alice';
    src: url("../assets/fonts/Alice/Alice-Regular.ttf"), format("trueType"),
    url("../assets/fonts/Alice/Alice-Regular.eot"), format("eot"),
    url("../assets/fonts/Alice/Alice-Regular.woff"), format("woff");
    font-weight: 400;
}