@font-face{
    font-family: 'Tinos-Regular';
    src: url("../assets/fonts/Tinos/Tinos-Regular.ttf"), format("trueType"),
    url("../assets/fonts/Tinos/Tinos.eot"), format("eot"),
    url("../assets/fonts/Tinos/Tinos.woff"), format("woff");
    font-weight: 400;
}

@font-face{
    font-family: 'Tinos-Bold';
    src: url("../assets/fonts/Tinos/Tinos-Bold.ttf"), format("trueType"),
    url("../assets/fonts/Tinos/Tinos-Bold.eot"), format("eot"),
    url("../assets/fonts/Tinos/Tinos-Bold.woff"), format("woff");
    font-weight: 700;
}