/* ---- Section Header ---- */

.logo{
    &__text{
        max-width: 229px;
        width: 100%;
        font-family: "Tinos-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        padding-left: 20px;
        padding-top: 5px;
    }

    &__container{
        display: flex;
        flex-direction: row;
    }
}

.header{
    &__bg{
        background: #FF4B65;
        //height: 70px;
        height: calc(70px);
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -43px;
            //width: 255px;
            width: calc(100vw - 2%);
            //height: 140px;
            height: calc(100vh - 2%);
            background-image: url("/assets/images/sheet-top.svg");
            //background-size: 283px 163px;
            z-index: 1;
            background-repeat: no-repeat;
        }
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 10px;
    }

    &__inner{
        display: flex;
        flex-direction: row;
        max-width: 1170px;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 9px;
    }

    &__info{
        display: flex;
        flex-direction: row;
    }

    &__phone{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__link{
        font-family: "Tinos-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 123%;
        color: #FFFFFF;
        border-bottom-style: dashed;
        border-bottom-color: #fff;
        border-bottom-width: 1px;
        margin-right: 27px;
        margin-top: 10px;
        display: inline-table;
    }
}

.phone{
    &__text{
        font-family: "Tinos-Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
    }
}

/* ---- Section Proposal ---- */

.proposal{
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    &::before{
        background-image: url('/assets/images/bg-proposal.svg');
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 790px;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    &__title{
        font-family: "Alice";
        font-style: normal;
        font-weight: 400;
        font-size: calc(64px + (24 - 64) * (100vw - 400px) / (1920 - 400));
        line-height: 120%;
        color: #333333;
        letter-spacing: 3.7px;

        &--meta{
            letter-spacing: 2.8px;
            font-size: 64px;
            line-height: 120%;
            font-family: "Alice";
            font-style: normal;
            font-weight: 400;
            color: #FF4B65;
        }
    }

    &__wrapper{
        position: relative;
        max-width: 1130px;
        margin: 0 auto;
    }

    &__container{
        display: flex;
        flex-direction: row;
    }

    &__box{
        max-width: 826px;
        width: 100%;
        padding: 91px 0px 0px 80px;
        margin: 0 auto;
    }

    &__image::before{
        background-image: url('/assets/images/bouquet-shadow.svg');
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: 355px;
        right: 33px;
        display: block;
        width: 100%;
        height: 790px;
        z-index: -2;
    }

    &__image::after{
        background-image: url('/assets/images/sheet-bg-proposal.svg');
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: 303px;
        left: 407px;
        display: block;
        width: 100%;
        height: 790px;
        z-index: -2;
    }

    &__caption{
        font-family: "Tinos-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 120%;
        display: flex;
        align-items: center;
        color: #333333;
    }

    &__holder{
        padding: 9px;
        max-width: 772px;
        width: 100%;
        max-height: 360px;
        height: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.05);
        position: absolute;
        right: 15px;
        top: 302px;
        z-index: -1;
    }

    &__inner{
        max-width: 749px;
        width: 100%;
        max-height: 357px;
        height: 100%;
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 10px;
    }

    &__content{
        padding: 22px 34px 45px 216px;
    }

    &__caption{
        max-width: 500px;
        width: 100%;
    }

    &__btn{
        width: 353px;
        height: 106px;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 17px;
        border-radius: 103px;
    }

    &__delivery{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 21px;
    }
}

.delivery{
    &__text{
        font-family: "Tinos-Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        display: flex;
        align-items: center;
        color: #FF4B65;
    }
}


/*---- Video Section ----*/
.video{
    &__bg{
        max-width: 1920px;
        width: 100%;
        height: 829px;
        display: block;
        //margin: -151px auto;
        margin-top: -10%;
        position: relative;
        z-index: -1;
        background-color: rgba(27, 15, 99, 1);
        background: url('../../assets/images/video-bg.png') no-repeat;

        &::after{
            content: "";
            position: absolute;
            top: 3%;
            left: 57%;
            z-index: 20;
            width: 206px;
            height: 100%;
            background-image: url('/assets/images/sheet-up-video.svg');
            background-size: 189px 19%;
            background-repeat: no-repeat;
        }
    }

    &__wrapper{
        display: flex;
        flex-direction: row;
        max-width: 1020px;
        justify-content: space-between;
        width: 100%;
        position: relative;
        margin: 0 auto;
        padding-top: 283px;

        &::before{
            background-image: url('/assets/images/arrow-video.svg');
            width: 448px;
            height: 99px;
            position: absolute;
            content: "";
            top: 103%;
            left: 35%;
            background-repeat: no-repeat;
        }
    }

    &__btn{
        position: relative;
        max-width: 225px;
        width: 100%;
        max-height: 225px;
        height: 100%;

        &::before{
            background-image: url('/assets/images/time-video.svg');
            width: 123px;
            height: 60px;
            position: absolute;
            content: "";
            top: 99%;
            left: 107%;
            z-index: 3;
        }

        &::after{
            background-image: url('/assets/images/video-ellipse.svg');
            width: 408px;
            height: 408px;
            position: absolute;
            content: "";
            top: -17%;
            left: -18%;
            z-index: 2;
        }
    }

    &__play-img{
        cursor: pointer;
    }

    &__title{
        max-width: 696px;
        width: 100%;
        height: 154px;
        font-family: "Alice";
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: right;
        color: #FFFFFF;
        text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
    }

    &__text{
        max-width: 436px;
        width: 100%;
        height: 82px;
        font-size: 36px;
        line-height: 41px;
        display: flex;
        align-items: center;
        text-align: right;
        margin-left: 43%;
        color: #FFFFFF;
        text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.8);
    }
}

/*---- Catalog Section ----*/
.catalog{
    &__bg{
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        background: url('../../assets/images/catalog-bg.svg') no-repeat,
                    #fff url('../../assets/images/catalog-bg-color.svg') no-repeat 100% 0;
    }
}

/*---- Issue Section ----*/
.issue{
    &__bg{
        background: url('../../assets/images/issue-bg.svg') no-repeat;
        max-width: 1920px;
        width: 100%;
        margin: -37px auto;
        padding-top: 153px;
        padding-bottom: 88px;
        position: relative;

        &::before{
            background: url('../../assets/images/issue-bouquet.svg') no-repeat;
            width: 289px;
            position: absolute;
            content: "";
            top: -24%;
            left: 0%;
            height: 566px;
        }
    }

    &__title{
        max-width: 1010px;
        width: 100%;
        font-family: "Alice";
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #333333;
        margin: auto auto 32px auto;
    }
}

/*---- suggestion section ----*/
.suggestion{
    &__wrapper{
        max-width: 1145px;
        width: 100%;
        margin: 0 auto 191px auto;
        padding-top: 66px;
        position: relative;

        &::before{
            background: url('../../assets/images/suggestion-img.svg') no-repeat;
            background-size: 892px 570px;
            max-width: 892px;
            width: 100%;
            height: 570px;
            margin: 0 auto;
            position: absolute;
            content: "";
            top: 17%;
            left: 28%;
            z-index: -1;
        }
    }

    &__title{
        font-family: "Alice";
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 100%;
        color: #333333;
        padding-bottom: 20px;
        max-width: 570px;
        width: 100%;
    }

    &__text{
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        color: #333333;
        max-width: 651px;
        width: 100%;
        margin-bottom: 30px;

        &--meta{
            color: #FF4B65;
        }
    }

    &__btn{
        padding: 35px 45px;
        box-shadow: 0px 4px 0px #F20F30, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
        border-radius: 103px;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        color: #FFFFFF;
        text-shadow: 1px 1px 0px #D3001F;
    }
}

/*---- Footer section ----*/

.footer{
    &__wrapper{
        background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
    }

    &__inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding: 55px 0;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
    }

    &__text{
        font-size: 16px;
    }

    &__link{
        font-size: 18px;
        text-decoration-line: underline;
        line-height: 120%;
        color: #FFFFFF;
        margin: 18px 0;
        display: block;

        &--phone{
            font-size: 18px;
            line-height: 120%;
            color: #FFFFFF;
            text-decoration-line: underline;
            margin: 3px auto 10px auto;
            display: block;
        }
    }

    &__copyright{
        font-size: 18px;
    }

    &__logo{
        max-width: 194px;
        width: 100%;

        & img{
            width: 100%;
        }
    }

    &__phone{
        display: flex;
    }

    &__email{
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    &__address{
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
    }
}

.phone{
    &__img{
        padding-right: 6px;
    }

    &__text{
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        line-height: 120%;
        color: #FFFFFF;
    }
}