.method {
    &__bg {
        background: url('../../../assets/images/method-bg.svg') no-repeat, #ff4b65 no-repeat 100% 0;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 93px;
        position: relative;

        @media (max-width: 768px) {
            padding-bottom: 30px;
        }

        &::before {
            background: url('../../../assets/images/method-berry-down.svg') no-repeat;
            background-size: 140px 140px;
            width: 140px;
            position: absolute;
            content: '';
            left: 15%;
            bottom: 0;
            height: 140px;
            z-index: 5;

            @media (max-width: 768px) {
                display: none;
            }
        }

        &::after {
            background: url('../../../assets/images/method-berry-up.svg') no-repeat;
            background-size: 230px 229px;
            width: 230px;
            position: absolute;
            content: '';
            top: 9%;
            right: 12%;
            height: 229px;
            z-index: 2;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    &__inner {
        max-width: 215px;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        margin-right: 15px;
        margin-bottom: 15px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            margin: 0 auto;
        }

        &:last-child {
            margin-right: 0;

            @media (max-width: 768px) {
                margin: 0 auto;
            }
        }

        & hr {
            background-color: #e5e5e5;
        }
    }

    &__number {
        width: 40px;
        height: 40px;
        background: #ffffff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #ff4b65;
        border-radius: 50%;
        padding-top: 11px;
        margin: -13px auto;

        @media (max-width: 768px) {
            position: absolute;
            top: 9%;
            left: 44%;
        }
    }

    &__title {
        font-family: 'Alice';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
        display: flex;
        align-items: center;
        color: #ffffff;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
        padding: 50px 0;
        justify-content: center;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    &__img {
        max-width: 120px;
        width: 100%;
        margin: 41px 0 20px 47px;

        @media (max-width: 768px) {
            padding-top: 42px;
        }
    }

    &__caption {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        text-align: center;
        padding-bottom: 15px;
    }

    &__text {
        padding: 0px 5px 20px 5px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #333333;

        &--meta {
            color: #ff4b65;
            border-bottom: 1px solid #ff4b65;
        }
    }
}

.slider-four {
    max-width: 1135px;
    width: 100%;
    margin: 0 auto;
}
