.button{
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    box-shadow: 0px 4px 0px #F20F30, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 0px #D3001F;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}