.slider {
    &__bg {
        background: url('../../../assets/images/slider-bg.png') no-repeat, #ff4b65 no-repeat 100% 0;
        opacity: 0.8;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        height: 930px;

        @media (max-width: 768px) {
            height: 100%;
        }
    }

    &__item {
        filter: blur(5px);
    }

    &__wrapper {
        max-width: 1010px;
        width: 100%;
        margin: 0 auto;
    }

    &__container {
        background: #ffffff;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 25px;
        z-index: 3;
        position: relative;
        margin: 0 20px;

        @media (max-width: 768px) {
            box-shadow: none;
            border-radius: 0;
            z-index: 0;
            background: none;
        }

        &::before {
            background-image: url('../../../assets/images/sheet-up-slider.svg');
            background-repeat: no-repeat;
            content: '';
            position: absolute;
            top: 8%;
            left: 78%;
            display: block;
            width: 100%;
            height: 790px;
            z-index: 4;
            transform: rotate(18deg);
            background-size: 252px 212px;

            @media (max-width: 768px) {
                display: none;
            }
        }

        &::after {
            background-image: url('../../../assets/images/pitaya-down-slider.svg');
            background-repeat: no-repeat;
            content: '';
            position: absolute;
            top: 68%;
            left: 83%;
            display: block;
            width: 100%;
            height: 790px;
            z-index: 4;

            @media (max-width: 768px) {
                content: '';
                position: absolute;
                display: block;
                left: -7%;
                top: 93%;
                width: 197px;
                background-size: 194px 126px;
                height: 132px;
                transform: rotateY(-180deg);
            }
        }
    }

    &__nav {
        @media (max-width: 768px) {
            padding-bottom: 30px;
        }

        &::before {
            background-image: url('../../../assets/images/arrow-left-slider.svg');
            background-repeat: no-repeat;
            content: '';
            position: absolute;
            top: 46%;
            left: -8%;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;

            @media (max-width: 768px) {
                display: none;
            }

            &:hover {
                background: linear-gradient(180deg, #ffd9cd 0%, #fcb8a3 100%);
            }
        }

        &::after {
            background-image: url('../../../assets/images/arrow-right-slider.svg');
            background-repeat: no-repeat;
            content: '';
            position: absolute;
            top: 46%;
            right: -8%;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;

            @media (max-width: 768px) {
                display: none;
            }

            &:hover {
                background: linear-gradient(180deg, #ffd9cd 0%, #fcb8a3 100%);
            }
        }
    }

    &__slide {
        position: relative;
        max-width: 1099px;
        width: 100%;
        background-repeat: no-repeat;
        height: 667px;
        background-size: 1088px 573px;
        top: -553px;
        left: -63px;
        background-image: url('../../../assets/images/slides-img.svg');

        @media (max-width: 768px) {
            display: none;
        }

        &::before {
            background-image: url('../../../assets/images/sheet-down-slider.svg');
            background-repeat: no-repeat;
            content: '';
            position: absolute;
            top: 64%;
            left: -8%;
            background-size: 346px 236px;
            display: block;
            width: 285px;
            height: 200px;
            z-index: -1;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__title {
        font-family: 'Alice';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
        text-align: center;
        color: #ffffff;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
        max-width: 826px;
        width: 100%;
        padding: 100px 0 35px 0;
        margin: 0 auto;

        @media (max-width: 768px) {
            max-width: 280px;
            font-size: 24px;
            padding-top: 40px;
        }
    }
}

/* ---- Slider in Slider section ---- */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    width: 10px;
    background-color: #ff4b65;
    height: 10px;
    border-radius: 50%;
}

.owl-carousel .owl-item {
    & .slide__image--main {
        width: 460px;
        height: 400px;
        margin: 40px 0 10px 40px;
        border-radius: 20px;

        @media (max-width: 768px) {
            max-height: 603px;
            max-width: 678px;
            width: 100%;
            height: 100%;
            margin: 20px 25px 5px 24px;
        }

        @media (max-width: 425px) {
            max-width: 340px;
            width: 100%;
            height: 100%;
        }

        @media (max-width: 375px) {
            max-width: 282px;
            width: 100%;
            height: 100%;
        }

        @media (max-width: 320px) {
            max-width: 229px;
            width: 100%;
            height: 100%;
        }
    }

    & .slide__image--mini {
        margin-left: 40px;
        width: 479px;
        height: 70px;
        inline-size: auto;

        @media (max-width: 768px) {
            max-width: 657px;
            width: 100%;
            max-height: 70px;
            height: 100%;
        }

        @media (max-width: 425px) {
            max-width: 310px;
            width: 100%;
            height: 100%;
        }

        @media (max-width: 375px) {
            max-width: 248px;
            width: 100%;
            height: 100%;
        }

        @media (max-width: 320px) {
            max-width: 195px;
            width: 100%;
            height: 100%;
        }
    }

    & .consist__item {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    & .morning__img {
        width: 20px;
        height: 20px;
        margin-right: 6px;

        @media (max-width: 768px) {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
    }
}

.slider-one .owl-dots {
    @media (max-width: 768px) {
        background: #fff;
        max-width: 152px;
        margin: 16px auto auto auto;
        border-radius: 11px;
        line-height: 3px;
    }
}

.slide {
    &__wrapper {
        display: flex;
        flex-direction: row;

        @media (max-width: 768px) {
            flex-direction: column;
            background: #ffffff;
            border-radius: 15px;
        }
    }

    &__content {
        padding-left: 39px;
        padding-top: 40px;

        @media (max-width: 768px) {
            margin: auto;
            padding-left: 0;
        }
    }

    &__title {
        font-family: 'Alice';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;
        display: flex;
        align-items: center;
        color: #ff4b65;
        padding-bottom: 20px;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    &__slogan {
        font-size: 18px;
        line-height: 120%;
        display: flex;
        align-items: center;
        color: #333333;
        padding-bottom: 15px;

        @media (max-width: 768px) {
            max-width: 223px;
            width: 100%;
            font-size: 14px;
        }
    }

    &__small {
        font-size: 16px;
        line-height: 120%;
        display: flex;
        align-items: center;
        color: #cccccc;
        padding-bottom: 15px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &__btn {
        width: 348px;
        height: 84px;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: #ffffff;
        margin-top: 17px;
        border-radius: 117px;
        margin-bottom: 18px;

        @media (max-width: 768px) {
            width: 230px;
            height: 84px;
            border-radius: 15px;
        }
    }

    &__morning {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 32px;

        @media (max-width: 768px) {
            padding-left: 0;
            padding-bottom: 25px;
        }
    }
}

/*---- consist ----*/
.consist {
    &__container {
        display: flex;
        flex-direction: row;
        position: relative;
        max-width: 330px;
        width: 100%;
        padding-bottom: 3px;

        @media (max-width: 768px) {
            max-width: 239px;
            width: 100%;
        }
    }

    &__box {
        width: 75px;
        height: 62px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            width: 56px;
            height: 49px;
            padding-right: 5px;
        }
    }

    &__text {
        font-family: 'Tinos-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #333333;

        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
}

/*---- morning ----*/
.morning {
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #ff4b65;
        padding-right: 19px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}
